* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #222;
  background-color: #f7f7f7;
}

/* NAVBAR + HERO */
.hero {
  background: url("/assets//images/hero-bg.jpg") center/cover no-repeat;
  height: 100vh;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.navbar {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #80ffb3;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 30%;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #00c776;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #009f5d;
}

/* STATIONS SECTION */
.stations {
  padding: 50px 20px;
  text-align: center;
  background: white;
}

.stations h2 {
  margin-bottom: 30px;
  font-size: 2.2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin-top: 15px;
  font-size: 1.4rem;
}

.card p {
  padding: 10px 20px;
  color: #666;
}

/* BENEFITS */
.benefits {
  padding: 50px 20px;
  background: #e8ffee;
  text-align: center;
}

.benefits h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.benefits ul {
  list-style: none;
  font-size: 1.1rem;
  line-height: 2rem;
}


.footer {
  background: #333333;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 0.95rem;
}

.how-it-works {
  padding: 50px 20px;
  text-align: center;
  background: #f3fff5;
}

.how-it-works h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.step {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.step h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.step p {
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .nav-links {
    margin-top: 10px;
  }
}
